body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #C699F0;
}

header {
    background-color: #54158E;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #6B1BB6;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover, .activo {
    text-decoration: underline;
}

section {
    padding: 40px;
    background-color: white;
    margin: 40px auto;
    width: 90%;
    max-width: 900px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
}
.inicio {
  position: relative; 
}
.inicio img {
  position: absolute;     
  top: -950px;          
  right: 100px;        
  width: 250px;         
  height: auto;         
  border: 15px solid #DCC1F6;  
  border-radius: 8px;         
}

.corea img {
     display: inline-block;
    height: 200px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px;    
  }


.ajedrez img {
     display: inline-block;
    height: 150px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px;    
  }

.box img {
    display: inline-block;
    height: 150px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px
  }

.galeria img {
    display: inline-block;
    height: 270px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px
  }

.estetica img {
    display: inline-block;
    height: 270px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px
  }

.video img {
    display: inline-block;
    height: 270px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px
  }

.animacion img {
    display: inline-block;
    height: 270px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px
  }

.combinacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;                             
  justify-items: center;                 
}

.combinacion img {
  width: 100%;
  max-width: 300px;                      
  height: auto;
  border: 12px solid #DCC1F6;
  border-radius: 6px;
  object-fit: contain;                 
}

.audio img {
    display: inline-block;
    height: 270px;      
    width: auto;        
    margin-right: 10px;
    vertical-align: middle;
    border: 15px solid #DCC1F6;
    border-radius: 8px
  }
button {
    background-color: #3C0F66;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;


footer {
    background-color: #3C0F66;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 16px;
    border-top: 3px solid #54158E;
}